extends /shared/layouts/page

append head
    style.
        #content {
            max-width: 360px;
            text-align: center;
        }

block main
    main#content
        h1= title

        +form(method='post')
            div.form-floating
                input.form-control(
                    id="password-input"
                    type="password"
                    name="password"
                    minlength="6"
                    maxlength="128"
                    required
                )
                label(for="password-input") Новый пароль
            
            button.btn.btn-primary.w-100.mt-3(type="submit") Сохранить