mixin icon-block
    div.icon-block(class={'icon-block--horizontal': attributes.horizontal})
        if attributes.image
            img.icon-block__image(src=attributes.image)
        if attributes.icon
            i.icon-block__icon(class={'material-icons': !attributes.fa, [`fa-${icon}`]: attributes.fa, 'fab': attributes.fab, 'far': attributes.far, 'fas': attributes.fas})= !attributes.fa ? icon : ''

        div.icon-block__text
            if attributes.title
                h3.icon-block__title= attributes.title
            if attributes.subtitle
                p.icon-block__subtitle= attributes.subtitle
            if attributes.body || block
                div.icon-block__body= attributes.body
                    block