include /node_modules/mdc-pug/index
include /server/mixins/form

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="version" content=VERSION)
        meta(name="theme-color" content="#6c167b")
        if description
            meta(name="description" content=description)
        if keywords
            meta(name="keywords" content=keywords)
        
        if title
            title= title + ' | Say Yes Online'
        else
            title Say Yes Online
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(rel="icon" href="https://static.sayes.ru/images/favicons/favicon-192x192.png")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous")
        
        block head
    
    body(id=(id && `${id}-page`) class=className).mdc-typography
        block body