{% for item in courses %}
	<li class="course {{item.class}}">
		<div class="course__header">
			<h3 class="course__title">{{item.title}}</h3>
			<p class="course__description">{{item.description}}</p>
		</div>
		<ul class="course__content">
			<div class="course__lesson-cost">Стоимость обучения:</div>
			<ul class="course__list">
				{% for lesson in item.list %}
					<li class="course__item">
						<div class="course__lesson-type">{{lesson.lessonType}}</div>
						<div class="course__lesson-price">{{lesson.lessonSince}}
							<span class="course__accent">{{lesson.lessonPrice}}</span>
							{{lesson.lessonTime}}</div>
					</li>
				{% endfor %}
			</ul>
		</ul>
	</li>
{% endfor %}
