extends ../shared/layout

include ../shared/header
include ../shared/modal
include ../shared/section
include ../shared/slider

append head
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@24.5.0/build/css/intlTelInput.css")
    link(rel="stylesheet" href="/css/club-islands.css")

    style
        include:scss client/styles.scss

append scripts
    script(src="https://cdn.jsdelivr.net/npm/intl-tel-input@24.5.0/build/js/intlTelInput.min.js")
    script(src="https://yookassa.ru/checkout-widget/v1/checkout-widget.js")
    script(src="/js/club-islands.js")
    script.
        window.data = {
            meetings: !{JSON.stringify(meetings)},
            packs: !{JSON.stringify(packs)}
        };
    script
        include client/script.js

block header
    +header
        div.header__buttons
            button.btn.btn--sm.btn--transparent.btn--uppercase(data-scroll-to="about") О клубе
            button.btn.btn--sm.btn--transparent.btn--uppercase(data-scroll-to="schedule") Расписание
            button.btn.btn--sm.btn--transparent.btn--uppercase(data-scroll-to="hosts") Ведущие
            button.btn.btn--sm.btn--transparent.btn--uppercase(data-scroll-to="testimonials") Отзывы
            button.btn.btn--sm.btn--transparent.btn--uppercase(data-scroll-to="faq") FAQ

block main
    div.hero
        div.hero__content
            h1.hero__title
                span.yellow Разговорный клуб
                |  реального английского

            p.hero__description
                | Игры, разбор кино, актуальные темы, спонтанная речь и встречи по навыкам - 
                span.yellow практикуйте английский онлайн, 
                |  выбирая нужное вам!

            button.btn.btn--yellow.mt-xxl(data-scroll-to="packages") Прокачать английский!

        div.hero__image
            img.image(src="https://static.sayes.ru/images/speaking-club/hero-image.png" alt="")

    +section('Коротко о разговорном клубе SAY YES!')#about
        div.grid.grid-4-lg.grid-2-sm                
            for item in features
                div.text-card.card.card--yellow.card--sm(class=`text-card--${item.icon}-bg`)
                    h3.card__title= item.title
                    p.card__description!= item.description

    +section('Почему вам стоит посещать разговорные клубы?')(color='purple' padded)#reasons
        div.grid.grid.grid-2-sm.grid-3-lg
            for item in reasons
                div.text-card.card.card--sm
                    h3.card__title= item.title
                    p.card__description= item.description

    +section('Как проходят встречи разговорного клуба SAY YES?')(horizontal)#process
        div.grid.grid-2-sm
            for step, i in steps
                div.text-card.card.card--sm(class=`text-card--${step.icon}-bg`)
                    span.card__suptitle Шаг #{i + 1}
                    h3.card__title= step.title
                    p.card__description= step.description

    +section(
        'Ближайшие встречи',
        meetings.length > 0 ?
            'Не упустите возможность попрактиковать свой английский в кругу единомышленников — записывайтесь на ближайшую встречу прямо сейчас!' :
            'Ни одной встречи пока не запланировано.'
    )(color='yellow' padded)#schedule
        +slider()(
            noArrows=(meetings.length <= 3)
            noPagination=(meetings.length <= 3)
        ).meetings-slider
            for meeting in meetings
                +slide
                    div.meeting-card.card.card--sm
                        div.card__media
                            img(src=meeting.thumbnailUrl alt="")
                        
                        div.card__header
                            div.tags
                                span.tag= meeting.levelLabel
                                span.tag(class=`tag--${meeting.online ? 'yellow' : 'purple'}`)= meeting.online ? 'Онлайн' : 'Оффлайн'
                            
                            p.card__subtitle= meeting.datetime
                            h3.card__title= meeting.title
                        
                        div.card__body
                            ul.list.gap-xs
                                if meeting.host
                                    li.list-item
                                        span.list-item__icon.teacher-icon
                                        span.list-item__content= meeting.host.fullname

                                li.list-item
                                    span.list-item__icon.time-icon
                                    span.list-item__content= meeting.durationLabel
                        
                        div.card__footer
                            button.btn.btn--full.meeting-btn(data-meeting-id=`${meeting.id}`) Подробнее

    +section()(horizontal)#hosts
        +section-header('Разговорный клуб проводят ТОП преподаватели SAY YES!')
            div.text
                p Ведущие нашего онлайн клуба — самые опытные и харизматичные преподаватели SAY YES! и носители языка из Англии и США.
                p Наши ведущие прошли обучение формату ведения уроков онлайн и могут разговорить любого, даже самого интровертного участника.

        +section-media
            div.text-card.card
                img(src="https://static.sayes.ru/images/speaking-club/speakers.png" alt="")

    +section()(color='white' horizontal)#video.video-section.section--yellow
        +section-header('Посмотрите, как проходят встречи нашего разговорного клуба')

        +section-media
            div.video.video--modal.video--framed
                div.video__media
                    img(src="https://i.ytimg.com/vi/jSfeDjvLxlI/sddefault.jpg" alt="")
            
                button.video__btn(
                    type="button"
                    data-modal-trigger="video-modal"
                    data-embed-url="https://www.youtube.com/embed/jSfeDjvLxlI"
                )

    +section('Тарифы')#packages
        div.grid.grid-2
            div.text-card.card.card--purple.flex-column.align-center.justify-center.gap-xl
                h3.heading-2.m-none Пробное посещение разговорного клуба

                p.flex-column.align-center.gap-m
                    span.text--semibold В тариф входит 1 встреча, которую вы можете посетить в течение 2 недель с момента оплаты
                    span.heading-1= `${trialPack.price} ₽`

                button.pack-btn.btn.btn--lg.btn--yellow.mh-auto(data-pack-id=trialPack.id) Попробовать

            div.flex-column.gap-m
                for pack in packs.slice(1)
                    div.pack-card.text-card.card.card--sm.flex
                        div.col.gap-l
                            div.flex-column.gap-xs
                                h3.heading-5.m-none= pack.title

                                if pack.description
                                    p.text.text--small= pack.description

                                if pack.discount
                                    p.text= `Выгода ${pack.discount} ₽`

                            button.pack-btn.btn.btn--sm.btn--outlined(data-pack-id=pack.id) Купить

                        div.col
                            div.flex-column.justify-between.gap-xs.h-100
                                div.flex-column
                                    h3.heading-4= `${pack.price} ₽`

                                    if pack.discount
                                        p.text.text--muted.text--strikethrough= `${pack.priceWithoutDiscount} ₽`
                                    
                                div.flex-column
                                    p.text.text--small.text--muted= `${pack.pricePerMonth} ₽ / месяц`

    +section('Отзывы участников')#testimonials
        +slider.testimonials-slider                                   
            for testimonial in testimonials
                +slide
                    div.testimonial-card.card
                        div.text= testimonial.text
                        p.text.bold= testimonial.name

    +section('Часто задаваемые вопросы')#faq
        div.flex-column.gap-l
            div.accordion(data-tab-panel="meetings")
                for faq in faqs
                    div.accordion-item
                        h3.accordion-item__title= faq.title
                        p.accordion-item__content= faq.content
            
            div.flex-column.gap-m.align-center
                p.text 
                    | Не нашли ответ на свой вопрос? 
                    a(href=`mailto:${CLUB_EMAIL}`).link.link--primary.link--underlined Напишите нам на почту
                    |, и мы ответим вам в течение 24 часов!

                // button.btn.btn--purple(data-modal-trigger="contact-modal") Задать вопрос

    //- +section(
    //-     'Мероприятия клуба',
    //-     'Подпишитесь на рассылку и первым узнавайте о предстоящих мероприятиях разговорного клуба!'
    //- )(color='yellow' horizontal padded)#newsletter
    //-     form.form
    //-         input.input(type="text" placeholder="Имя")
    //-         input.input(type="email" placeholder="Email")
    //-         button.btn.btn--full Записаться
    //-         small.text.text--small
    //-             | Нажимая «Записаться», я принимаю 
    //-             a.link.link--underlined(href="/agreement") Пользовательское соглашение
    //-             |  и даю согласие на обработку своих персональных данных на условиях 
    //-             a.link.link--underlined(href="/policy") Политики конфиденциальности.

    +modal#payment-modal
        div#payment-view

    +modal#meeting-modal
        div#meeting-view

    //- +modal('Задать вопрос')(data-component="Modal")#contact-modal
    //-     form.form(data-component="Form")
    //-         input.input(type="text" placeholder="Имя")
    //-         input.input(type="email" placeholder="Email")
    //-         input.input(type="tel" placeholder="Телефон")
    //-         textarea.textarea(placeholder="Ваш вопрос")

    //-         button.btn.btn--full(type="submit") Отправить

    +modal(data-component="VideoModal")#video-modal