extends ./layout

block main
    article.article
        header
            h1 Договор-оферта

            p Публичная оферта (договор на оказание услуг по очным и дистанционным тренингам по английскому языку)

            p Индивидуальный предприниматель Письменная Ольга Владимировна , ОГРНИП: 319774600529855, (далее – «Исполнитель») публикует настоящий Договор на оказание возмездных услуг по дистанционному и очному проведению тренингов, являющийся публичным Договором офертой (предложением) в адрес физических лиц (далее – «Клиент»). 

        section
            h2 1. Акцепт оферты
            
            p 1.1. Текст настоящего Договора является публичной офертой (в соответствии со статьей 435 и частью 2 статьи 437 Гражданского кодекса РФ).

            p 1.2. Акцепт (принятие) оферты — оплата заказанных услуг путем внесения предоплаты в порядке, определяемом настоящим Договором.

            p 1.3. Акцепт Клиентом настоящего Договора означает, что он полностью согласен со всеми положениями настоящего Договора.

            p 1.4. С момента акцепта Клиентом настоящий Договор считается заключенным. В подтверждение заключения настоящего Договора и по ходу его исполнения Клиенту приходят информационные письма на электронную почту, указанную Клиентом при регистрации.

            p 1.5. Настоящий Договор вступает в силу с момента его заключения и действует до исполнения Сторонами своих обязательств по нему, если иное не предусмотрено настоящим Договором и законодательством РФ.

        section
            h2 2. Предмет договора
            
            p 2.1. В соответствии с настоящим договором Исполнитель обязуется оказывать Клиенту услуги по проведению дистанционных и очных тренингов по английскому языку, а Клиент обязуется принимать эти услуги и оплачивать их в соответствии с условиями, предусмотренными настоящим Договором. В случае проведения очных тренингов, их место проведения определяется по соглашению Сторон.

            p 2.2. Объём тренингов, проводимых в соответствии с настоящим Договором, определяется количеством оплаченных Клиентом часов тренингов.

        section
            h2 3. Права и обязанности сторон
            
            p 3.1. Исполнитель обязуется:
            p 3.1.1. В согласованные Сторонами сроки оказать Услуги Клиенту надлежащим образом в соответствии с условиями настоящего Договора.
            p 3.1.2. Не разглашать конфиденциальную информацию и данные, предоставленные Клиентом в связи с исполнением настоящего Договора, не раскрывать и не разглашать такие факты или такую информацию (кроме информации общедоступного характера) какой-либо третьей стороне без предварительного письменного соглашения Клиента.

            p 3.2. Исполнитель вправе:
            p 3.2.1. Привлекать третьих лиц (Далее – «Ведущих тренингов»), в целях своевременного и качественного исполнения обязательств по Договору.
            p 3.2.2. Требовать от Клиента своевременной оплаты стоимости Услуг в соответствии с условиями настоящего Договора.
            p 3.2.3. В случае проведения дистанционных тренингов, при условии предварительного согласования с Заказчиком, вести фиксацию аудио/видео процесса проведения тренингов с целью контроля качества услуг.

            p 3.2.4. Использовать электронный адрес, номер телефона и логин Zoom/Skype, которые были получены от Клиента при регистрации, для отправки Клиенту информационных материалов, с целью информирования Клиента о деятельности Исполнителя и ходе оказания услуг в рамках настоящего Договора. При отсутствии письменного или устного отказа Клиента в получении данных материалов, направленного в адрес Исполнителя, согласие на получение данного рода материалов считается подтвержденным.

            p 3.3. Клиент обязуется:
            p 3.3.1. Предоставить Исполнителю все сведения и данные, указанные в пункте
            p 3.2.4, необходимые для выполнения своих обязательств по настоящему Договору.
            p 3.3.2. Не разглашать конфиденциальную информацию и иные данные, предоставленные Исполнителем в связи с исполнением настоящего Договора, не раскрывать и не разглашать такие факты или информацию (кроме информации общедоступного характера) какой-либо третьей стороне без предварительного письменного согласия Исполнителя.

            p 3.4. Клиент вправе:
            p 3.4.1. Требовать от Исполнителя выполнения его обязательств по настоящему Договору и Приложениям к нему в срок и с надлежащим качеством.
            p 3.4.2. Для индивидуальных тренингов: сменить Ведущего тренингов, непосредственно оказывающего услугу. О необходимости такой замены необходимо сообщить вашему менеджеру не менее, чем за 72 часа до даты ближайшего тренинга.
            p 3.4.3. Отказаться от выполнения условий настоящего Договора в случае, если Исполнитель не приступил к исполнению обязательств по настоящему Договору.

        section
            h2 4. Перенос тренингов и неявка
            
            p 4.1. Для очных индивидуальных тренингов:
            p 4.1.1 Перенос или отмена занятий Клиентом могут быть осуществлены не позднее 8 (восьми) часов до начала занятия, в противном случае тренинг считается проведенным и оплачивается в размере 100%.
            p 4.1.2. Ведущий тренингов имеет право переносить тренинг (в случае болезни и по другим уважительным причинам), предупредив об этом Клиента не менее, чем за 8 часов. Если Клиент считает, что Ведущий тренингов слишком часто переносит тренинг, Клиент вправе обратиться к своему менеджеру с требованием о смене Ведущего тренингов.

            p 4.3. Для индивидуальных тренингов онлайн:
            p 4.3.1. Если в установленное в графике время Клиент не доступен для звонка Ведущего тренингов, Ведущий тренингов повторяет попытки связаться с Клиентом (не менее трех раз в течение 15 минут). При этом временем начала тренинга считается установленное в графике время проведения тренинга, время окончания тренинга - также в соответствии с согласованным графиком, а время ожидания Клиента Ведущим тренингов составляет максимум 15 минут после установленного в графике времени проведения тренинга. Если в результате вышеназванных процедур связаться с Клиентом не удается, тренинг считается проведенным и оплачивается в размере 100%.
            p 4.3.2. Если в установленное время начала тренинга плюс 5 (Пять) минут Клиент не получает звонка от Ведущего тренингов, он обязан немедленно связаться со своим менеджером в порядке, предусмотренном разделом 5 настоящего Договора. Тренинги, которые не состоялись по вине Ведущего тренингов, переносятся в полном объеме на другое удобное для Клиента время.
            p 4.3.3. Исполнитель считает услуги оказанными в полном объёме и денежные средства не возвращаются, если клиент не использовал тренинги в течение одного календарного года с даты последней оплаты.
            p 4.3.4. Исполнитель не отвечает за неоказание услуги в связи с отсутствием у Клиента необходимого программного обеспечения или технических проблем с Интернетом.

            p 4.3.5. Минимальные системные требования:
            ul
                li Операционная система: Windows 7/8/8.1/10, Mac OS X 10.9, 10.10, 10.11;
                li Установленный интернет браузер Google Chrome последней стабильной пользовательской версии с включённым авто обновлением;
                li Оперативная память: от 2 Гб и выше, процессор: 2 ядерный процессор от 1.8 ГГц;
                li Наличие микрофона;
                li Интернет-соединение от 1 Мбит/сек.

            p 4.3.6. Рекомендованные системные требования:
            ul
                li Операционная система: Windows 8/8.1/10, Mac OS X 10.10, 10.11;
                li Установленный интернет браузер Google Chrome последней стабильной пользовательской версии с включённым авто обновлением;
                li Оперативная память: от 4 Гб и выше, процессор: 2 ядерный процессор от 2.2 ГГц;
                li Наличие микрофона и видеокамеры;
                li Интернет соединение от 35 Мбит/сек.

            p 4.3.7. Настройка рабочего места:
            ul
                li Закрыть все программы, которые могут занимать большую часть интернет-канала (такие как файлообменники);
                li При начале тренинга, Клиент должен разрешить доступ к микрофону и камере.

            p 4.4. Для групповых тренингов:
            p 4.4.1. Клиент, по согласованию с Исполнителем, имеет право перейти в другую, определенную Исполнителем группу, в течение срока действия Договора, если по уважительной причине не имеет возможности пройти тренинги в текущей группе. При этом:<br>- перенос сроков оказания услуг может быть осуществлен только по согласованию с Исполнителем при наличии у Исполнителя объективной возможности (подходящих Клиенту групп);<br>- перенос сроков оказания услуг может быть осуществлен не более 2 (двух) раз и в пределах срока действия настоящего Договора.
            p 4.4.2. После того, как Клиент приступил к прохождению тренингов в конкретной группе, пропущенные Клиентом тренинги не переносятся и, при неявке Клиента, считаются проведёнными.
            p 4.4.3. В отношении отмены тренингов в группе, действуют следующие правила:
            p 4.4.3.1. Исполнитель вправе отменить тренинг, если плановая явка числящихся в группе Клиентов составляет менее 50%.
            p 4.4.3.2. Перенос или отмена тренингов в праздничные дни согласовываются со всеми Клиентами в группе, решение о проведении/отмене/переносе тренинга в праздничный день принимается исходя из пожеланий большинства Клиентов в группе (более 50% обучающихся в группе).

        section
            h2 5. Для индивидуальных тренингов: порядок направления сообщений

            p 5.1. Для того, чтобы сообщить о переносе тренинга на другие дату/время, необходимо отправить сообщение Ведущему тренингов/Клиенту заранее оговоренным удобным способом связи в зависимости от того, кто переносит тренинг; Если Ведущий тренингов не отвечает на сообщение Клиента, Клиент связывается со своим менеджером заранее оговоренным удобным способом связи.
            p 5.2. Для того, чтобы сообщить об увеличении количества тренингов, изменении продолжительности тренингов, смене Ведущего тренингов, о приостановлении оказания услуг, Клиент должен связаться со своим менеджером, заранее оговоренным удобным способом связи.

        section
            h2 6. Стоимость услуг и порядок расчетов

            p 6.1. Стоимость Услуг Исполнителя и возможные способы оплаты публикуются Исполнителем на своем сайте по адресу <a href="#{PAY_APP_URL}" target="_blank">#{PAY_APP_URL}</a>.

            p 6.2. Оплата Услуг осуществляется на основе 100% предоплаты. Клиент не будет допущен к тренингу, если оплаченные тренинги закончились, и новая оплата не была произведена. Необходимо внести оплату не менее, чем за 12 часов до запланированного времени тренинга.
            p 6.2.1. Оплата Услуг в рассрочку возможна только на следующих условиях:
            p 6.2.1.1. Если Клиент оплатил пакет из 20 и более индивидуальных тренингов или 2 и более месяцев групповых тренингов.
            p 6.2.1.2. Если Клиент внёс предоплату не менее 50% от полной стоимости приобретаемого пакета услуг.
            p 6.2.1.3. Если Клиент оплачивает оставшиеся 50% от полной стоимости приобретаемого пакета услуг не позднее 14 календарных дней с момента внесения предоплаты.
            p 6.2.1.4. При этом, если Клиент не внёс оставшиеся 50% стоимости пакета услуг по истечении 14 календарных дней с момента внесения предоплаты, стоимость пакета услуг пересчитывается исходя из стоимости количества занятий, фактически проведенных на момент истечения 14 календарных дней.
            
            p 6.3. Исполнитель может в одностороннем порядке менять стоимость услуг путем размещения информации на сайте Исполнителя по адресу <a href="#{PAY_APP_URL}" target="_blank">#{PAY_APP_URL}</a>. При этом стоимость уже оплаченных Клиентом тренингов не подлежит изменению.

            p 6.4. Моментом оплаты считается поступление денежных средств на счет Исполнителя.

            p 6.5. Клиент самостоятельно несет ответственность за правильность производимых им платежей.

            p 6.6. Клиент самостоятельно оплачивает все услуги организаций связи, необходимые для потребления им Услуг Исполнителя.

            p 6.8. Исполнитель не несет ответственность за осведомленность Клиента об изменениях в перечне оказываемых услуг отраженных на сайте <a href="#{PAY_APP_URL}" target="_blank">#{PAY_APP_URL}</a>. Клиент обязуется самостоятельно, перед выбором услуги (не менее чем за 1 (один) день), ознакомиться с информацией, о порядке стоимости и прочих условиях оказания услуг Клиентам, отраженным на сайте Исполнителя - <a href="#{PAY_APP_URL}" target="_blank">#{PAY_APP_URL}</a>.

        section
            h2 7. Ответственность сторон

            p 7.1. В случае неисполнения или ненадлежащего выполнения Исполнителем обязанностей по настоящему Договору, Клиент вправе предъявить Исполнителю требование о возврате оплаченных им денежных средств. Заказчику производится возврат стоимости неиспользованных тренингов.

            p 7.2. В том случае, если настоящий Договор расторгается по желанию Клиента, он должен предоставить Исполнителю мотивированный отказ от услуг Исполнителя, в этом случае Исполнитель возвращает Клиенту денежные средства. Сумма к возврату клиенту рассчитывается следующим образом:

            ul
                li В качестве возмещения расходов, понесённых Исполнителем в ходе оказания услуги, удерживается комиссия 5% от стоимости приобретенного пакета услуг
                li Вычитается стоимость фактически использованных клиентом тренингов (рассчитывается по прайс-листу, актуальному для использованного количества тренингов).<br><i>Сумма к возврату = Стоимость приобретенного пакета тренингов * (1-5%) – Стоимость фактически использованных тренингов</i>

            p 7.3. В случае расторжения Договора по совместной инициативе или инициативе одной из сторон, срок возврата денежных средств составляет до 30 календарных дней.

            p 7.4. В качестве реквизитов для возврата денежных средств, Клиентом может быть указано:

            ul
                li номер карты, выпущенной на территории стран СНГ
                li БИК, номер банковского счета
                li ФИО держателя счёта

            p 7.5. В случае возврата денежных средств Клиенту, если Клиент позже решит возобновить услугу Заказчика по проведению тренингов, стоимость услуги будет рассчитываться по действующим ценам школы, указанным на сайте Исполнителя <a href="#{PAY_APP_URL}" target="_blank">#{PAY_APP_URL}</a>. В случае приостановления услуг по желанию Заказчика с сохранением остатка денежных средств на счету Исполнителя, стоимость тренингов, эквивалентная остатку денежных средств, не будет пересчитана при изменении цены. При приобретении последующих пакетов услуг Исполнителя, будут действовать цены, актуальные на момент приобретения и указанные на сайте Исполнителя <a href="#{PAY_APP_URL}" target="_blank">#{PAY_APP_URL}</a>.

        section
            h2 8. Прочие условия

            p 8.1. Услуги, оказываемые в соответствии с настоящим Договором, являются информационными и не являются образовательными. Все тренинги проходят очно или с использованием программы Zoom/Skype (по договорённости с Клиентом).

            p 8.2. За невыполнение или ненадлежащее выполнение обязательств по настоящему Договору Стороны несут ответственность в соответствии с условиями настоящего Договора и законодательством Российской Федерации.

            p 8.3. Стороны не несут ответственности за полное или частичное невыполнение ими своих обязательств по настоящему Договору, если такое невыполнение явилось следствием обстоятельств непреодолимой силы (форс-мажор), а именно: наводнения, других стихийных бедствий, военных действий, постановлений и решений органов государственной власти или других событий. Надлежащим подтверждением наличия форс-мажорных обстоятельств и их продолжительности для Сторон является справка, выдаваемая уполномоченными органами.

            p 8.4. Все споры и разногласия, возникающие между сторонами в рамках Договора или в связи с ним, подлежат разрешению в соответствующем суде по месту нахождения Исполнителя в соответствии с законодательством Российской Федерации.

        section
            h2 9. Реквизиты исполнителя

            p Индивидуальный предприниматель Письменная Ольга Владимировна

            p: <b>ИНН</b>: 771413718945
            p: <b>ОГРНИП</b>: 319774600529855
            p: <b>Юр. адрес</b>: 117312, г.Москва, ул.Вавилова, дом 27, кв.265
            p: <b>Электронная почта</b>: skype@sayes.ru
            p: <b>Расчетный счет</b>: 40802810601500061148
            p: <b>Банк</b>: ООО "Банк Точка"
            p: <b>БИК</b>: 044525104
            p: <b>К/с</b>: 30101810745374525104