extends ./layout

block main
    article.article
        header
            h1 Пользовательское соглашение

            p Настоящий документ «Пользовательское соглашение» представляет собой предложение Индивидуального предпринимателя Письменной Ольги Владимировны, ОГРНИП 319774600529855, (далее — «Правообладатель») заключить договор на изложенных ниже условиях.

        section
            h2 1. Общие положения

            p 1.1. В настоящем документе и вытекающих или связанных с ним отношениях Сторон применяются следующие термины и определения:

            p а) #[b Сервис] — совокупность Сайта и размещенного на нём Контента, к которым Пользователям предоставляется доступ с использованием Платформы.

            p б) #[b Платформа] — программно-аппаратные средства Правообладателя, интегрированные с Сайтом.

            p в) #[b Сайт] — автоматизированная информационная система, доступная в сети Интернет по адресу #[a(href=`${CLUB_URL}`) #{CLUB_URL}].

            p г) #[b Пользователь] — лицо, заключившее настоящее Соглашение с Правообладателем в своем или чужом интересе в соответствии с требованиями действующего законодательства и настоящего Соглашения.

            p д) #[b Контент] — любые информационные материалы, включая текстовые, графические, аудио, видео и прочие материалы, к которым можно получить доступ с использованием Сервиса.

            p е) #[b Личный кабинет] — персональный раздел Сайта, к которому Пользователь получает доступ после прохождения регистрации и/или авторизации в Сервисе. Личный кабинет предназначен для хранения персональных данных Пользователя, просмотра и управления доступными платными услугами.

            p 1.2. В настоящем Соглашении могут быть использованы иные термины и определения, не указанные в п.1.1. Соглашения. В этом случае толкование такого термина производится в соответствии с текстом Соглашения. В случае отсутствия однозначного толкования термина или определения в тексте Соглашения следует руководствоваться его толкованием, определенным: в первую очередь — указанными в нем обязательными документами, во вторую очередь — законодательством Российской Федерации, и в последующем — обычаями делового оборота и научной доктриной.

            p 1.3. Использование вами Сервиса любым способом и в любой форме в пределах его объявленных функциональных возможностей, включая:

            ul
                li просмотр или применение Контента с использованием Сервиса; 
                li регистрация и/или авторизация в Сервисе; 
                li размещение или организация доступа к Контенту в Сервисе, включая размещение гипертекстовых ссылок на него; 
                li иное использование Сервиса, 

            p создает договор на условиях настоящего Соглашения и указанных в нем обязательных для Сторон документов в соответствии с положениями ст.437 и 438 Гражданского кодекса Российской Федерации. 

            p 1.4. Воспользовавшись любой из указанных выше возможностей по использованию Сервиса вы подтверждаете, что: 

            p а) Ознакомились с условиями настоящего Соглашения и указанных в нем Обязательных документов в полном объеме до начала использования Сервиса. 

            p б) Принимаете все условия настоящего Соглашения и указанных в нем Обязательных документов в полном объеме без каких-либо изъятий и ограничений с вашей стороны и обязуетесь их соблюдать или прекратить использование Сервиса. Если вы не согласны с условиями настоящего Соглашения и указанных в нем Обязательных документов или не имеете права на заключение договора на их основе, вам следует незамедлительно прекратить любое использование Сервиса. 

            p в) Соглашение (в том числе любая из его частей) и/или указанные в нем Обязательные документы могут быть изменены Правообладателем без какого-либо специального уведомления. Новая редакция Соглашения и/или указанных в нем Обязательных документов вступает в силу с момента размещения на сайте Правообладателя либо доведения до сведения Пользователя в иной удобной форме, если иное не предусмотрено новой редакцией Соглашения и/или указанных в нем обязательных для Сторон документов.

        section
            h2 2. Общие условия пользования Сервисом

            p 2.1. Обязательным условием заключения настоящего Соглашения является полное и безоговорочное принятие и соблюдение Пользователем в установленных ниже случаях требований и положений, определенных следующими документами («Обязательные документы»):

            p а) #[b Политика конфиденциальности], размещенная и/или доступная в сети Интернет по адресу #[a(href=`${CLUB_URL}/policy`) #{CLUB_URL}/policy], которая содержит правила предоставления и использования конфиденциальной информации, включая персональные данные Пользователя.

            p б) #[b Публичная оферта], которая размещена и/или доступна в сети Интернет по адресу #[a(href=`${CLUB_URL}/offer`) #{CLUB_URL}/offer] и является обязательным для Сторон документом в случае оформления Пользователем заказа на приобретение платных услуг.

            p 2.2. Использование функциональных возможностей Сервиса в ограниченной части возможно без прохождения Пользователем предварительной регистрации и/или авторизации в Сервисе. В остальной части применение функциональных возможностей Сервиса допускается после прохождения Пользователем регистрации и/или авторизации в Сервисе в соответствии с установленными Правообладателем правилами.

            p 2.3. Перечень функциональных возможностей, использование которых требует предварительной регистрации и/или авторизации, определяется по единоличному усмотрению Правообладателя и может время от времени изменяться.

            p 2.4. Для регистрации Пользователь обязуется предоставить достоверную и полную информацию о себе по вопросам, предлагаемым в форме регистрации, и поддерживать эту информацию в актуальном состоянии. Если Пользователь предоставляет неверную информацию или у Правообладателя есть основания полагать, что предоставленная Пользователем информация неполна или недостоверна, Правообладатель имеет право по своему усмотрению заблокировать либо удалить Личный кабинет Пользователя, а также отказать Пользователю в использовании Сервиса полностью или в определенной части.

            p 2.5. Правообладатель оставляет за собой право в любой момент потребовать от Пользователя подтверждения данных, указанных при регистрации, и  в связи с этим запросить подтверждающие документы (в частности документы, удостоверяющие личность), отказ от предоставления которых, по усмотрению Правообладателя, может быть приравнен к предоставлению недостоверной информации и повлечь последствия, предусмотренные п. 2.4. Соглашения.

            p 2.6. В случае если данные Пользователя, указанные в предоставленных им документах, не соответствуют данным, указанным при регистрации, а также в случае, когда данные, указанные при регистрации, не позволяют идентифицировать пользователя, Правообладатель вправе применить меры, указанные в п.2.4. Соглашения.

            p 2.7. Технические, организационные и коммерческие условия использования Сервиса могут доводиться до сведения Пользователей путем отдельного размещения на Сайте или путем нотификации Пользователей.

            p 2.8. Правообладатель вправе устанавливать лимиты и вводить иные технические ограничения использования Сервиса, которые время от времени будут доводиться до сведения Пользователей в форме и способом по выбору Правообладателя.

        section
            h2 3. Гарантии Пользователя 

            p Принимая условия настоящего Соглашения, вы подтверждаете и гарантируете, что:

            p 3.1. Вы обладаете всеми необходимыми правами и полномочиями для заключения Договора на использование Сервиса и его исполнения;

            p 3.2. Использование Сервиса будет осуществляться вами исключительно для целей, разрешенных настоящим Соглашением с соблюдением его положений, а равно требований применимого права и общепринятой практики;

            p 3.3. Вы не будете совершать каких-либо действий, которые вступают в противоречие или препятствуют предоставлению Сервиса или работе соответствующего оборудования, сетей, или программного обеспечения, с помощью которых предоставляется Сервис;

            p 3.4. Использование вами Сервиса для конкретных целей не нарушает имущественных и/или личных неимущественных прав третьих лиц, а равно запретов и ограничений, установленных применимым правом, а также права государства вашего места нахождения, включая без ограничения авторские и смежные права, права на товарные знаки, знаки обслуживания и наименования мест происхождения товаров, права на промышленные образцы, права на использование изображений людей; предоставляемый вами Контент и прочие данные не содержат сведений и/или образов, оскорбляющих честь, достоинство и деловую репутацию третьих лиц, а также информацию пропагандирующую насилие, порнографию, наркотики, расовую или национальную вражду; и вами получены все необходимые разрешения от уполномоченных лиц в связи с использованием такого Контента.

        section
            h2 4. Лицензия на использование Контента

            p 4.1. Принимая условия настоящего Соглашения, вы безвозмездно предоставляете Правообладателю простую (неисключительную) лицензию на использование Контента, который вы добавляете (размещаете или транслируете) в Сервис Правообладателя.

            p 4.2. Указанная простая (неисключительная) лицензия на использование Контента предоставляется Правообладателю одновременно с добавлением вами Контента в Сервис Правообладателя на весь срок действия исключительных прав на объекты авторских и (или) смежных прав, образующих такой Контент, для использования на территории всех стран мира.

            p 4.3. В рамках предоставленной Правообладателю простой (неисключительной) лицензии разрешается использование Контента следующими способами:

            ul
                li воспроизводить Контент, т.е. совершать изготовление одного или более экземпляров Контента в любой материальной форме, а также их запись в память электронного устройства (право на воспроизведение);

                li распространять экземпляры Контента, т.е. предоставлять доступ к воспроизведенному в любой материальной форме Контенту, в том числе сетевыми и иными способами, а также путем продажи, проката, сдачи внаем, предоставления безвозмездно, включая импорт для любой из этих целей (право на распространение);

                li публично показывать Контент (право на публичный показ);

                li сообщать Контент таким образом, при котором любое лицо может иметь доступ к нему в интерактивном режиме из любого места и в любое время по своему выбору (право на доведение до всеобщего сведения);

                li модифицировать Контент, т.е. переделывать или другим образом перерабатывать Контент, включая перевод Контента с одного языка на другой (право на переработку);

                li право переуступить все или часть полученных прав третьим лицам (право на сублицензирование).

            p 4.4. При отсутствии в составе Контента объектов авторских или смежных прав, по настоящему Соглашению вы предоставляете Правообладателю Контент - сведения и прочие информационные материалы — для использования любым способом, включая возможность осуществлять запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, обезличивание, блокирование, удаление, уничтожение таких данных, передачу (распространение, предоставление любым третьим лицам для реализации ими любых действий) по единоличному усмотрению Правообладателя.

        section
            h2 5. Ограничения

            p Соглашаясь с условиями настоящего Соглашения, вы понимаете и признаете, что:

            p 5.1. К отношениям Сторон по предоставлению Сервиса на безвозмездной основе не подлежат применению положения законодательства о защите прав потребителей.

            p 5.2. Сервис предоставляется для использования в информационно-развлекательных целях на условиях «как есть», в связи с чем вам не представляются какие-либо гарантии, что Сервис будет соответствовать вашим требованиям; услуги будут предоставляться непрерывно, быстро, надежно и без ошибок; результаты, которые могут быть получены с использованием Сервиса, будут точными и надежными; качество какого-либо продукта, услуги, информации и Контента, полученных с использованием Сервиса, будет соответствовать вашим ожиданиям; все ошибки в Контенте и/или программном обеспечении Сервиса будут исправлены.

            p 5.3. Поскольку Сервис находится на стадии постоянного дополнения и обновления новых функциональных возможностей, форма и характер предоставляемых услуг могут время от времени меняться без вашего предварительного уведомления. Правообладатель вправе по собственному усмотрению прекратить (временно или окончательно) предоставление услуг (или каких-либо отдельных функций в рамках услуг) всем Пользователям вообще или вам, в частности, без вашего предварительного уведомления.

            p 5.4. Вы не имеете права самостоятельно или с привлечением третьих лиц:

            ul
                li копировать (воспроизводить) в любой форме и способом входящие в состав Сервиса Правообладателя программы для ЭВМ и базы данных, включая любые их элементы и Контент, без получения предварительного письменного согласия их владельца; 

                li вскрывать технологию, эмулировать, декомпилировать, дизассемблировать, дешифровать, и производить иные аналогичные действия с Сервисом; 

                li создавать программные продукты и/или сервисы с использованием Сервиса без получения предварительного разрешения Правообладателя. 

            p 5.5. Правообладатель никак не связан с Контентом, предоставленным Пользователями в Сервисе, и не осуществляет проверку содержания, подлинности и безопасности такого Контента либо его компонентов, а равно его соответствия требованиям применимого права, и наличия у Пользователей необходимого объема прав на его распространение и/или использование. Всю ответственность за содержание такого Контента и соответствие его требованиям применимого права несет лицо, создавшее данный Контент и/или добавившее его в Сервис Правообладателя.

            p 5.6. В частности, запрещается использование Сервиса для:

            ul
                li размещения и/или распространения контрафактных материалов;

                li размещения и/или распространения материалов порнографического характера, а равно пропаганды порнографии и детской эротики, и рекламы интимных услуг;

                li распространения любой иной запрещенной информации, включая материалы, экстремистского характера, а также направленных на ущемление прав и свобод человека по признакам расовой и национальной принадлежности, вероисповедания, языка, и пола, подстрекающие к совершению насильственных действий в отношении человека, либо к бесчеловечному обращению с животными, призывающие к совершению иных противоправных действий, в том числе разъясняющие порядок изготовления и применения оружия, наркотических средств и их прекурсов, и т.д.;

                li распространения недостоверной информации, порочащей честь, достоинство или деловую репутацию третьих лиц;

                li преимущественного или исключительного размещения ссылок на другие сайты;

                li совершения иных противоправных действий, включая получение несанкционированного доступа к конфиденциальной информации, ее распространение, неправомерный доступ к компьютерной информации, использование и распространение вредоносных компьютерных программ, нарушение правил эксплуатации средств хранения, обработки или передачи компьютерной информации и информационно-телекоммуникационных сетей, организации азартных игр, проведения лотерей и иных стимулирующих мероприятий в нарушение действующего законодательства.

            p 5.7. Вы поставлены в известность о присвоении Сервису и размещенному на нем Контенту категории 18+. При использовании Сервиса вы можете получить Контент, который можете счесть содержащим информацию оскорбительного или непристойного характера, а также в иной форме нарушающий применимое право, права и/или интересы третьих лиц.

            p 5.8. При обнаружении ошибок в работе Сервиса или в размещенном на нем Контенте сообщите об этом Правообладателю по адресу, указанному в реквизитах или отдельно на Сайте для службы поддержки.

            p 5.9. В случае обнаружения нарушения ваших прав и/или интересов в связи с предоставлением Сервиса, в том числе размещением ненадлежащего Контента иным Пользователем, вам следует сообщить об этом Правообладателю. Для этого необходимо направить Правообладателю письменное уведомление с подробным изложением обстоятельств нарушения и гипертекстовой ссылкой на сетевой адрес Контента, в связи с использованием которого нарушаются ваши права и/или интересы.

            p 5.10. Вы несете исключительную ответственность за любое нарушение обязательств, установленных настоящим Соглашением и/или применимым правом, а также за все последствия таких нарушений (включая любые убытки или ущерб, которые может понести Правообладатель и иные третьи лица).

            p 5.11. В случае возникновения каких-либо претензий третьих лиц в отношении нарушения вами любых имущественных и/или личных неимущественных прав третьих лиц, а равно установленных законодательством запретов или ограничений вы обязаны по требованию Правообладателя пройти официальную идентификацию, предоставив Правообладателю нотариально заверенное обязательство урегулировать возникшие претензии собственными силами и за свой счет с указанием своих паспортных данных.

            p 5.12. В связи с установленной законодательством ответственностью за размещение и предоставление доступа к нелегальному Контенту, Правообладатель оставляет за собой право удалить любой Контент из Сервиса либо ограничить к нему доступ в одностороннем порядке до получения от вас указанного выше письменного обязательства.

            p 5.13. В случае многократного или грубого нарушения условий настоящего Соглашения, включая указанные в нем Обязательные документы, и/или требований законодательства, Правообладатель оставляет за собой право заблокировать доступ к Сервису либо иным образом ограничить (прекратить) предоставление Пользователю услуг с использованием Сервиса.

            p 5.14. В случае привлечения Правообладателя к ответственности или наложения на него взыскания в связи с допущенными вами нарушениями прав и/или интересов третьих лиц, а равно установленных законодательством запретов или ограничений, вы обязаны в полном объеме возместить убытки Правообладателя.

            p 5.15. Правообладатель устраняется от какой бы то ни было ответственности в связи с допущенными вами нарушениями, а также причинением вам вреда или убытков при указанных выше обстоятельствах.

            p 5.16. При любых обстоятельствах ответственность Правообладателя ограничена 1 000 (Одной тысячей) рублей и возлагается на него исключительно при наличии в его действиях вины.

        section
            h2 6. Уведомления

            p 6.1. Вы соглашаетесь получать от Правообладателя на указанный при работе с Сервисом электронный адрес информационные электронные сообщения (далее — «нотификаторы») о важных событиях, происходящих в рамках Сервиса, в том числе в связи с заключением и исполнением договоров или в связи с ними.

            p 6.2. Правообладатель вправе использовать нотификаторы для информирования Пользователя об изменениях и новых возможностях Сервиса и/или об изменении Соглашения или указанных в нем Обязательных документов.

        section
            h2 7. Соглашение об использовании электронной подписи

            p 7.1. Во взаимоотношениях между Правообладателем и Пользователем могут использоваться электронные документы, удостоверенные простой электронной подписью.

            p 7.2. Простой электронной подписью признается электронная подпись, которая посредством использования логина и пароля Пользователя или указанного при использовании Сервиса адреса электронной почты Пользователя (ключ электронной подписи) подтверждает факт формирования электронной подписи непосредственно Пользователем.

            p 7.3. По соглашению Сторон электронные документы, подписанные простой электронной подписью, признаются равнозначными документам на бумажных носителях, подписанным собственноручной подписью.

            p 7.4. Правообладатель определяет Пользователя, которому соответствует простая электронная подпись, по используемому Пользователем логину и паролю, указанным при регистрации/или авторизации в Сервисе, - в случае совершения любых действий по использованию Сервиса, либо по используемому Пользователем адресу электронной почты — в случае поступления Правообладателю сообщений с такого адреса.

            p 7.5. Любые действия, совершенные с использованием простой электронной подписи определенного Пользователя, считаются совершенными таким Пользователем.

            p 7.6. Пользователь обязуется соблюдать конфиденциальность ключа электронной подписи. В частности, Пользователь не имеет права передавать свои логин и пароль или предоставлять доступ к своей электронной почте третьим лицам, и несет полную ответственность за их сохранность и индивидуальное использование, самостоятельно выбирая способ их хранения и ограничения к ним доступа.

            p 7.7. В случае несанкционированного доступа к логину и паролю, их утраты или раскрытия третьим лицам Пользователь обязан незамедлительно сообщить об этом Правообладателю путем направления электронного письма с указанного при использовании Сервиса адреса электронной почты.

            p 7.8. В случае утраты или несанкционированного доступа к электронной почте, адрес которой указан при использовании Сервиса, Пользователь обязан незамедлительно заменить такой адрес на новый и сообщить о данном факте Правообладателю путем направления электронного письма с нового адреса электронной почты.

        section
            h2 8. Прочие условия

            p 8.1. Зарегистрированный Пользователь самостоятельно определяет условия и порядок использования функциональных возможностей Сервиса, которые, тем не менее, ни при каких условиях не могут противоречить настоящему Соглашению.

            p 8.2. #[b Применимое право]. Настоящее Соглашение, порядок его заключения и исполнения, а также вопросы, не урегулированные настоящим Соглашением, регулируются действующим законодательством Российской Федерации.

            p 8.3. #[b Арбитраж]. Все споры по Соглашению или в связи с ним подлежат рассмотрению в суде в соответствии с действующим процессуальным правом Российской Федерации.

            p 8.4. #[b Изменения]. Настоящее Соглашение может быть изменено или прекращено Правообладателем в одностороннем порядке без предварительного уведомления Пользователя и без выплаты какой-либо компенсации в связи с изменениями.

            p 8.5. #[b Редакция Соглашения]. Действующая редакция настоящего Соглашения размещена на Сайте Правообладателя и доступна в сети Интернет по адресу #[a(href=`${CLUB_URL}/agreement`) #{CLUB_URL}/agreement].

        section
            h2 9. Реквизиты Правообладателя

            include ./includes/requisites