extends ./layout

block main
    article.article
        header
            h1 Публичная оферта о заключении договора оказания услуг

            p Настоящий документ представляет собой официальное предложение Индивидуального предпринимателя Письменной Ольги Владимировны, ОГРНИП 319774600529855, именуемого в дальнейшем «Исполнитель», заключить договор возмездного оказания услуг на изложенных ниже условиях. 

        section
            h2 1. Термины и определения

            p 1.1. В настоящем документе и вытекающих или связанных с ним отношениях Сторон применяются следующие термины и определения:
            
            p 1.1.1. #[b Публичная оферта / Оферта] — текст настоящего документа со всеми приложениями, изменениями и дополнениями к нему, размещенный на Сайте и доступный в сети Интернет по адресу: #[a(href=`${CLUB_URL}/offer`) #{CLUB_URL}/offer].

            p 1.1.2. #[b Заказчик] — пользователь Сайта, способный совершить Акцепт Оферты (применительно к порядку заключения Договора) либо совершивший Акцепт Оферты (применительно к исполнению заключенного Договора).

            p 1.1.3. #[b Заказ] — условия оказания Услуг, согласованные Сторонами путем совершения Заказчиком действий, перечисленных на соответствующей странице Сайта или его Личного кабинета, необходимых для заключения отдельного Договора.

            p 1.1.4. #[b Договор] — договор возмездного оказания Услуг, заключенный между Исполнителем и Заказчиком на условиях настоящей Оферты.

            p 1.1.5. #[b Услуги] — информационно-консультационные услуги по проведению дистанционных Разговорных Клубов по английскому языку с помощью сервиса Zoom.

            p 1.1.6. #[b Разговорный Клуб] — дистанционное групповое занятие с Ведущим посредством сервиса Zoom, длительностью 55 минут.

            p 1.1.7. #[b Ведущий] — лицо, непосредственно проводящее Разговорные Клубы.

            p 1.1.8. #[b Акцепт Оферты] — полное и безоговорочное принятие Оферты путем совершения Заказчиком действий, указанных в настоящей Оферте, создающее Договор между Заказчиком и Исполнителем.

            p 1.1.9. #[b Сайт Исполнителя / Сайт] — автоматизированная информационная система, доступная в сети Интернет по сетевому адресу #[a(href=`${CLUB_URL}`) #{CLUB_URL}].  

            p 1.1.10. #[b Личный кабинет] — персональный раздел Сайта, к которому Заказчик получает доступ после прохождения регистрации и/или авторизации на Сайте. Личный кабинет предназначен для хранения персональной информации Заказчика, оформления Заказов, просмотра статистической информации о совершенных Заказах, текущем состоянии Лицевого счета, и получения уведомлений.

            p 1.1.11. #[b Лицевой счет] — информация о внесенных Заказчиком и списанных в рамках исполнения Договоров денежных средствах в счет оплаты по указанным Договорам, а также о сроке действия абонемента. Доступ к Лицевому счету предоставляется Заказчику с использованием его Личного кабинета.

            p 1.2. В настоящей Оферте могут быть использованы термины и определения, не определенные в п.1.1. Оферты. В этом случае толкование такого термина производится в соответствии с текстом Оферты. В случае отсутствия однозначного толкования термина или определения в тексте Оферты следует руководствоваться его толкованием, определенным: в первую очередь — документами, образующими Договор между Сторонами, во вторую очередь — законодательством Российской Федерации, и в последующем — обычаями делового оборота и научной доктриной.

        section
            h2 2. Акцепт Оферты и заключение Договора

            p 2.1. Акцепт Оферты Заказчиком создает Договор между Заказчиком и Исполнителем (статьи 433, 438 Гражданского Кодекса Российской Федерации) на условиях Оферты.

            p 2.2. Акцепт Оферты совершается Заказчиком путем выполнения совокупности указанных ниже действий:

            p 2.2.1. оформление и направление Заказа с помощью программных средств на Сайте Исполнителя;

            p 2.2.2. внесение авансового платежа за заказанные Услуги.

            p 2.3. Договор считается заключенным с момента получения Исполнителем Акцепта Оферты.

            p 2.4. На основании Оферты с Заказчиком может быть заключено неограниченное количество Договоров.

        section
            h2 Предмет Договора

            p 3.1. Исполнитель обязуется оказывать Услуги на основании размещенных Заказов, а Заказчик обязуется принимать и оплачивать Услуги на условиях настоящей Оферты.

            p 3.2. Обязательным условием заключения Договора и его исполнения является безоговорочное принятие и соблюдение Заказчиком, применяемых к отношениям сторон по Договору требований и положений, определенных следующими документами («Обязательные документы»):

            p 3.2.1. Пользовательское соглашение, размещенное и/или доступное в сети Интернет по адресу #[a(href=`${CLUB_URL}/agreement`) #{CLUB_URL}/agreement] и включающее общие условия регистрации на Сайте и использования Сервиса Исполнителя.

            p 3.2.2. Политика конфиденциальности, размещенная и/или доступная в сети Интернет по адресу #[a(href=`${CLUB_URL}/policy`) #{CLUB_URL}/policy]  и содержащая правила предоставления и использования персональной информации, включая персональные данные Заказчика.

            p 3.2.3. Стоимость Услуг — тарифы Исполнителя на проведение Разговорных Клубов, размещенные и/или доступные в сети Интернет по адресу #[a(href=`${CLUB_URL}`) #{CLUB_URL}], применяемые Исполнителем для расчета стоимости Услуг на дату оформления Заказа и включающие применительно к соответствующему виду и составу Услуг сведения о предлагаемом Исполнителем наименовании и стоимости Услуг, а также иные необходимые условия их оказания.

            p 3.2.4. Правила оказания Услуг — условия проведения Разговорных клубов, размещенные и/или доступные в сети Интернет по адресу #[a(href=`${CLUB_URL}/rules`) #{CLUB_URL}/rules]. В случае противоречия Правил оказания Услуг условиям настоящей Оферты, применяются условия Оферты.

            p 3.3. Указанные в п.3.2. Обязательные документы составляют неотъемлемую часть заключаемого в соответствии с настоящей Офертой Договора.

        section
            h2 4. Порядок оказания Услуг 

            p 4.1. Оказание Услуг осуществляется исключительно при условии полной предварительной оплаты Услуг Заказчиком в установленном порядке.

            p 4.2. В целях оказания Услуг по Договору Исполнитель вправе привлекать третьих лиц (далее — Консультанты).

            p 4.3. Длительность одного Разговорного клуба составляет 55 (Пятьдесят пять) минут.

        section
            h2 5. Права и обязанности Сторон

            p 5.1. Исполнитель:

            p 5.1.1. Обязан оказывать Услуги в полном соответствии с Договором и требованиями законодательства Российской Федерации.

            p 5.1.2. Вправе приостанавливать оказание Услуг в случае нарушения Заказчиком требований, предусмотренных Договором, а также в иных случаях, установленных законодательством Российской Федерации.

            p 5.1.3. Вправе отказаться в одностороннем порядке от исполнения Договора в случаях, предусмотренных действующим законодательством Российской Федерации и/или настоящей Офертой.

            p 5.1.4. Осуществляет иные права и исполняет обязанности, предусмотренные Договором, в т.ч. Правилами оказания Услуг и действующим законодательством Российской Федерации.

            p 5.2. Заказчик:

            p 5.2.1. Обязан оплачивать Услуги по Договору в полном объеме в установленные сроки.

            p 5.2.2. Обязан проверять наличие уведомлений Исполнителя на Сайте (в том числе в Личном кабинете Заказчика) и по электронному адресу, указанному Заказчиком при оформлении Заказа, а также просматривать информацию о ходе оказания Услуг.

            p 5.2.3. Вправе заключить Договор с целью участия в Разговорных Клубах третьего лица (третьих лиц). В этом случае указанное Заказчиком лицо (лица) приобретает все права и обязанности Заказчика.

            p 5.2.4. Вправе отказаться в одностороннем порядке от исполнения Договора в случаях, предусмотренных действующим законодательством Российской Федерации и/или настоящей Офертой.

            p 5.2.5. Осуществляет иные права и исполняет обязанности, предусмотренные Договором, в т.ч. Правилами оказания Услуг и действующим законодательством Российской Федерации.

        section
            h2 6. Стоимость Услуг и порядок расчетов

            p 6.1. Стоимость Услуг по Договору определяется исходя из стоимости Разговорных клубов, указанной на Сайте по адресу #[a(href=`${CLUB_URL}`) #{CLUB_URL}].

            p 6.2. Оплата Услуг производится Заказчиком путем внесения аванса в размере 100% стоимости Услуг.

            p 6.3. Заказчик имеет право оплачивать любое количество Разговорных Клубов, начиная с одного.

            p 6.4. Заказчик может приобрести абонемент на неограниченное посещение Разговорных Клубов в течение одного или трех календарных месяцев.

            p 6.5. Стоимость Разговорных Клубов, действующая на момент оформления Заказа, сохраняется для всех Разговорных Клубов, заказанных Заказчиком.

            p 6.6. Расчеты по Договору осуществляются путем безналичных перечислений на расчетный счет Исполнителя либо с использованием указанных на Сайте платежных сервисов.

            p 6.7. Заказчик считается исполнившим свои обязательства по оплате Услуг с момента поступления денежных средств в установленном размере на расчетный счет Исполнителя при безналичной форме оплаты, либо с момента предоставления информации о совершенном Заказчиком платеже оператором платежного сервиса, действующим на основании договора с Исполнителем, а при наличии на Лицевом счете остатка, достаточного для оплаты Услуг по Договору, — с момента списания с Лицевого счета соответствующей суммы в счет оплаты Услуг.

            p 6.8. Поступившие Исполнителю за Разговорные Клубы денежные средства отражаются на Лицевом счете Заказчика в Личном кабинете и учитывают объем предоставляемых Заказчику Услуг – количество доступных Заказчику Разговорных клубов исходя из оплаченной суммы, либо оставшийся срок действия абонемента, если Заказчик оплатил такой абонемент.

            p 6.9. Заказчик обязан знакомиться в Личном кабинете с информацией о заказанных и проведенных Разговорных Клубах, оставшемся сроке действия абонемента, а также внесенных и списанных в рамках исполнения Договоров денежных средствах в счет оплаты Разговорных Клубов по указанным Договорам.

            p 6.10. В случае неявки на выбранный Разговорный клуб, в котором Заказчик подтвердил своё участие, Исполнитель не возвращает оплату за выбранный Разговорный клуб. Заказчик может отменить участие в выбранном Разговорном клубе не менее, чем за 60 минут до начала выбранного Разговорного клуба.

            p 6.11. В случае возврата стоимости участия в Разговорных клубах, деньги за неиспользованные Разговорные Клубы, за исключением случая, описанного в п.п. 6.10, возвращаются по письменному требованию Заказчика. При этом сумма возврата рассчитывается с вычетом фактических организационных расходов, понесенных Исполнителем, в размере 10% от суммы к возврату.

            p 6.12. В случае запроса возврата по приобретенному абонементу, средства возвращаются из расчета оставшегося срока действия абонемента.  
            p: b Расчет суммы возврата происходит по формуле: Сумма возврата = Стоимость абонемента – (Стоимость абонемента ÷ Общее количество дней абонемента ∗ Количество прошедших дней срока абонемента).
            p: b Дополнительно из Суммы возврата, рассчитанной по вышеуказанной формуле, удерживается стоимость фактических организационных расходов, понесенных Исполнителем, в размере 10% от суммы к возврату.

            p 6.13. Стоимость Услуг может меняться в зависимости от конъюнктуры рынка, что отражается на Сайте. Исполнитель не может менять стоимость Услуг для конкретного Заказчика в случае, если Заказчик заключил Договор на условиях настоящей Оферты и произвел оплату Услуг в установленном порядке.

        section
            h2 7. Ответственность

            p 7.1. За неисполнение или ненадлежащее исполнение принятых по Договору обязательств Стороны несут ответственность в соответствии с действующим законодательством Российской Федерации.

            p 7.2. В случае многократного или грубого нарушения условий настоящей Оферты, включая указанные в ней Обязательные документы, и/или требований законодательства Исполнитель оставляет за собой право заблокировать доступ к Сайту, удалить Личный кабинет Заказчика либо прекратить предоставление Заказчику Услуг и отказать Заказчику в заключении нового Договора на условиях Оферты.

            p 7.3. Заказчик осознает, что Исполнитель не несет ответственности за функционирование программных средств, посредством которых оказываются Услуги, а также предоставление услуг связи.

            p 7.4. Исполнитель не отвечает за встречное исполнение обязательств по оказанию Услуг, в случае полного или частичного неисполнения Заказчиком обязательств по Договору, а также наличия обстоятельств, очевидно свидетельствующих о том, что такое исполнение не будет произведено в установленный срок.

            p 7.5. Ответственность Исполнителя ограничивается возмещением причиненного Заказчику реального ущерба в сумме, не превышающей оплаченную стоимость Услуг по соответствующему Договору оферты.

        section
            h2 8. Обстоятельства непреодолимой силы (форс-мажор)

            p 8.1. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по Договору, вызванное обстоятельствами непреодолимой силы, возникшими после его заключения. К таким обстоятельствам, в частности, Стороны относят: стихийные бедствия; природные и промышленные катастрофы; террористические акты; военные действия; гражданские беспорядки; принятие органами государственной власти или органами местного самоуправления актов, содержащих запреты или ограничения в отношении деятельности Сторон по Договору; иные обстоятельства, которые не могут быть заранее предвидены или предотвращены и делают невозможным исполнение обязательств Сторон по Договору.

            p 8.2. При наступлении обстоятельств непреодолимой силы, препятствующих исполнению обязательств по Договору, срок оказания Сторонами своих обязательств переносится соразмерно времени действия таких обстоятельств, а также времени, требуемого для устранения их последствий, но не более 60 (Шестидесяти) календарных дней. В случае если обстоятельства непреодолимой силы продолжают действовать свыше указанного срока, либо когда при их наступлении обеим Сторонам становится очевидным, что они будут действовать более этого срока, Договор прекращает свое действие.

        section
            h2 9. Срок действия и изменение Оферты

            p 9.1. Оферта вступает в силу с момента размещения на Сайте Исполнителя и действует до момента ее отзыва Исполнителем.

            p 9.2. Исполнитель оставляет за собой право внести изменения в условия Оферты и/или отозвать Оферту в любой момент по своему усмотрению. Сведения об изменении или отзыве Оферты доводятся до Заказчика по выбору Исполнителя посредством размещения на Сайте Исполнителя, в Личном кабинете либо путем направления соответствующего уведомления на электронный или почтовый адрес, указанный Заказчиком при заключении Договора или в ходе его исполнения.

            p 9.3. В случае отзыва Оферты или внесения изменений в Оферту, последние вступают в силу с момента доведения об этом сведений до Заказчика, если иной срок вступления их в силу не определен Офертой или дополнительно при таком сообщении.

            p 9.4. Указанные в Оферте обязательные для Сторон документы утверждаются, дополняются и изменяются Исполнителем по собственному усмотрению и доводятся до сведения Заказчика в порядке, предусмотренном для уведомления Заказчика об изменении Оферты.

        section
            h2 10. Срок действия, изменение и расторжение Договора

            p 10.1. Договор вступает в силу с момента Акцепта Оферты Заказчиком и действует: а) до момента полного исполнения Сторонами обязательств по Договору, либо б) до момента досрочного расторжения Договора.

            p 10.2. В случае отзыва Оферты Исполнителем в течение срока действия Договора, Договор считается действующим на условиях Оферты в последней редакции со всеми Обязательными документами.

            p 10.3. Договор может быть расторгнут:

            p 10.3.1. По соглашению Сторон в любое время.

            p 10.3.2. По инициативе Заказчика путем отказа от исполнения Договора полностью или в соответствующей части посредством направления на электронную почту Исполнителя соответствующего уведомления. Договор считается прекратившим действие полностью или в указанной в таком уведомлении части по истечении 1 (Одного) дня с момента его направления.

            p 10.3.3. По инициативе Исполнителя путем отказа от исполнения Договора полностью или в соответствующей части посредством направления уведомления Заказчику на указанный им адрес электронной почты. Договор считается прекратившим действие полностью или в указанной в таком уведомлении части по истечении 3 (Трех) дней с момента его направления.

            p 10.3.4. По иным основаниям, предусмотренным Офертой или действующим законодательством.

            p 10.4. Договор может быть изменен по инициативе Заказчика путем уточнения Заказчиком ранее оформленного Заказа с помощью программных средств на Сайте Исполнителя.

        section
            h2 11. Соглашение об аналоге собственноручной подписи

            p 11.1. Стороны вправе использовать при заключении Договора, оформлении Заказов, выставлении счетов, а также направлении уведомлений по Договору факсимильное воспроизведение подписи или простую электронную подпись.

            p 11.2. Допускается обмен документами между Сторонами посредством факсимильной связи, электронной почты. При этом документы, переданные в таком порядке, имеют полную юридическую силу при условии наличия подтверждения о доставке включающего их сообщения получателю.

            p 11.3. В случае несанкционированного доступа к логину и паролю, их утраты или раскрытия третьим лицам Заказчик обязан незамедлительно сообщить об этом Исполнителю путем направления электронного письма с указанного при использовании Сайта адреса электронной почты.

            p 11.4. В случае утраты или несанкционированного доступа к электронной почте, адрес которой указан при использовании Сайта, Заказчик обязан незамедлительно заменить такой адрес на новый и сообщить о данном факте Исполнителю путем направления электронного письма с нового адреса электронной почты.

        section
            h2 12. Прочие условия

            p 12.1. Договор, его заключение и исполнение регулируется действующим законодательством Российской Федерации. Все вопросы, не урегулированные Офертой или урегулированные не полностью, регулируются в соответствии с материальным правом Российской Федерации.

            p 12.2. С момента заключения Договора на условиях настоящей Оферты все ранее имевшие место между Сторонами письменные или устные соглашения или заявления относительно предмета Договора, утрачивают силу.

            p 12.3. Передача (уступка) прав и обязанностей Заказчика по Договору без согласия Исполнителя не допускается. Исполнитель может передать свои права по Договору без согласия Заказчика. Любая уступка или передача прав, нарушающая условия данного пункта, недействительна.

            p 12.4. Споры по Оферте и/или Договору разрешаются в предварительном претензионном порядке. В случае невозможности достижения Сторонами согласия споры подлежат рассмотрению в суде по месту нахождения Исполнителя.

            p 12.5. Любые уведомления и документы по Договору, если иное не предусмотрено настоящей Офертой, могут направляться одной Стороной другой Стороне: 1) по электронной почте а) на адрес электронной почты Заказчика, указанный им при оформлении Заказа или в его Личном кабинете, с адреса электронной почты Исполнителя, указанного в разделе 13 Правил в случае, если получателем является Заказчик, и б) на адрес электронной почты Исполнителя, указанный в разделе 13 Оферты, с адреса электронной почты Заказчика, указанного им при оформлении Заказа или в его Личном кабинете; 2) направления Заказчику электронного уведомления в Личном кабинете; 3) по факсу; 4) почтой с уведомлением о вручении или курьерской службой с подтверждением доставки.

            p 12.6. Стороны взаимно обязуются не разглашать конфиденциальную информацию и иные данные, предоставленные одной Стороной другой Стороне в связи с исполнением Договора, не раскрывать и не разглашать такие факты или информацию (кроме информации общедоступного характера) какой-либо третьей стороне без предварительного письменного согласия Стороны, предоставившей информацию.

            p 12.7. Принимая настоящую Оферту, Заказчик свободно, своей волей и в собственном интересе дает бессрочное безотзывное письменное согласие на любые способы обработки предоставленных персональных данных в соответствии с Политикой конфиденциальности.

            p 12.8. Исполнитель вправе запрашивать дополнительную информацию, которая требуется для заключения и/или исполнения Договора на определенную Услугу, включая ксерокопии документов, удостоверяющих личность, или кредитных карт, в случае необходимости проверки личности или в целях предотвращения мошенничества. Если такая дополнительная информация представлена Исполнителю, то ее использование и охрана осуществляется в соответствии с условиями Политики конфиденциальности.

            p 12.9. В случае если одно или более положений Оферты или Договора являются по какой-либо причине недействительными, не имеющими юридической силы, такая недействительность не оказывает влияния на действительность любого другого положения Оферты или Договора, которые остаются в силе.

            p 12.10. Не вступая в противоречие с условиями Оферты, Стороны вправе в любое время оформить заключенный Договор оказания Услуг в форме письменного документа, выражающего содержание действующей на момент его оформления Оферты, указанных в ней Обязательных документов и размещенного Заказа.

        section
            h2 13. Реквизиты Исполнителя

            include ./includes/requisites