+mdc-dialog#auth-dialog
    +mdc-dialog__title()(element='div')
        +mdc-tab-bar
            +mdc-tab('Регистрация')(icon='person_add' active)
            +mdc-tab('Вход')(icon='person')
    
    +mdc-dialog__content
        form(method='post' action='/register')#register-form.tab-panel.tab-panel--active
            +mdc-typography('Если вы впервые на сайте, то перед записью на встречу, вам сначала необходимо создать учетную запись. Данные для входа в личный кабинет мы отправим на указанный адрес электронной почты.')(noMargin)

            +mdc-layout()(column)
                +mdc-text-field('firstname')(
                    type='text'
                    label='Имя'
                    leadingIcon='person'
                    required
                    outlined
                )

                +mdc-text-field('lastname')(
                    type='text'
                    label='Фамилия'
                    leadingIcon='person'
                    required
                    outlined
                )
                
                +mdc-text-field('email')(
                    type='email'
                    label='Электронная почта'
                    leadingIcon='email'
                    required
                    outlined
                )
            
            +mdc-form-field('Я согласен с условиями предоставления услуг и политикой конфиденциальности.')
                +mdc-checkbox()(name='confirm' checked required)
        
        form(method='post' action='/login')#login-form.tab-panel
            +mdc-typography('Если у вас уже есть учетная запись, то для записи на встречу войдите в личный кабинет.')(noMargin)

            +mdc-layout()(column)
                +mdc-text-field('email')(
                    type='email'
                    label='Электронная почта'
                    leadingIcon='email'
                    outlined 
                    required
                )
                
                +mdc-text-field('password')(
                    type='password'
                    label='Пароль'
                    leadingIcon='vpn_key'
                    outlined
                    required
                    minlength='6'
                    maxlength='128'
                )

    +mdc-dialog__actions
        +mdc-dialog__button('Закрыть')(type='button' action='close')
        +mdc-dialog__button('Зарегистрироваться')(type='button' default outlined).auth-button