+mdc-dialog()(element='form' method='post' action='/register')#register-dialog
    +mdc-dialog__title('Регистрация на сайте')

    +mdc-dialog__content
        +mdc-typography('Мы создадим для Вас учетную запись и отправим данные для входа на сайт на указанный Email-адрес.')

        +mdc-layout()(column)
            +mdc-text-field('firstname')(
                type='text'
                label='Имя'
                leadingIcon='person'
                required
                outlined
            )

            +mdc-text-field('lastname')(
                type='text'
                label='Фамилия'
                leadingIcon='person'
                required
                outlined
            )
            
            +mdc-text-field('email')(
                type='email'
                label='Электронная почта'
                leadingIcon='email'
                required
                outlined
            )
        
        +mdc-form-field('Я согласен с условиями предоставления услуг и политикой конфиденциальности.')
            +mdc-checkbox()(name='confirm' checked required)

    +mdc-dialog__actions
        +mdc-dialog__button('Закрыть')(type='button' action='close')
        +mdc-dialog__button('Зарегистрироваться')(type='submit' default outlined)