+mdc-dialog()(element='form' method='post' action='/login')#login-dialog
    +mdc-dialog__title('Вход на сайт')

    +mdc-dialog__content
        +mdc-layout()(column)
            +mdc-text-field()(
                name='email'
                type='email'
                label='Электронная почта'
                leadingIcon='email'
                outlined 
                required
            )
            
            +mdc-text-field()(
                name='password'
                type='password'
                label='Пароль'
                leadingIcon='vpn_key'
                outlined
                required
                minlength='6'
                maxlength='128'
            )
    
    +mdc-dialog__actions
        +mdc-dialog__button('Закрыть')(type='button' action='close')
        +mdc-dialog__button('Забыли пароль?')(type='button' action='close' outlined data-open='#password-dialog')
        +mdc-dialog__button('Войти')(type='submit' outlined default)