extends /shared/layouts/page

append head
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Shantell+Sans:ital,wght@1,300..400&display=swap")
    link(rel="stylesheet" href="https://static.sayes.ru/css/shared.css")

    style.
        .flash {
            border-radius: 0;
        }

        main {
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;
        }

        main > .form {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 330px;
            margin: auto;
            gap: 1rem;
        }

        main > .form img {
            width: 128px;
        }

block body
    main
        include /shared/includes/flash

        +form.form#login-form(method='post' action='/login')
            div
                img(src="https://static.sayes.ru/images/logos/sayyes-purple.png")

            input.input(
                id="email-input"
                type="email"
                name="email"
                placeholder="Электронная почта"
                autocomplete="email"
                required
            )

            input.input(
                id="password-input"
                type="password"
                name="password"
                minlength="6"
                maxlength="128"
                placeholder="Пароль"
                autocomplete="current-password"
                required
            )

            button.btn.btn--purple(type="submit") Войти

            button.link(type="button" data-bs-toggle="modal" data-bs-target="#password-modal") Забыли пароль?

        include ./includes/password-dialog

    script.
        document.querySelectorAll('.form').forEach(form => {
            form.addEventListener('submit', () => {
                const submitButton = this.querySelector('button[type="submit"]');

                if (submitButton) {
                    submitButton.disabled = true;
                }
            });
        });