extends /shared/layouts/page

append head
    style.
        .flash {
            border-radius: 0;
        }

        main {
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;
        }

        main > .form {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 330px;
            margin: auto;
            gap: 1rem;
        }

        main > .form img {
            width: 128px;
        }

block body
    include /shared/includes/flash

    main
        +form#reset-form(method='post' action=`/reset/${token}`)
            div
                img(src="https://static.sayes.ru/images/logos/sayyes-purple.png")

            h1= title

            div.form-floating
                input.form-control(
                    id="password-input"
                    type="password"
                    name="password"
                    minlength="6"
                    maxlength="128"
                    placeholder=" "
                    required
                )
                label(for="password-input") Новый пароль
            
            button.btn.btn-primary.w-100.mt-3(type="submit") Сохранить

            a.btn.btn-link(href='/') Вернуться на страницу входа

    script.
        document.querySelectorAll('.form').forEach(form => {
            form.addEventListener('submit', function() {
                const submitButton = this.querySelector('button[type="submit"]');
                if (submitButton)
                    submitButton.disabled = true;
            });
        });