<section class="back-office">
	<div class="section-container">
		<h2 class="subtitle">В бэк-офисе SAY YES! работает 24 человека.
		</h2>
		<p class="back-office__description">Главное, что объединяет нас — это любовь к людям и английскому языку.</p>
		<p class="back-office__description">Каждый из нас работает для того, чтобы наши студенты были окружены заботой и самыми последними инновациями в обучении.</p>

		<div class="cards">
			<div class="card card--text-card">
				<h4 class="card__title">Команда мечты</h4>
				<h5 class="card__subtitle">Создает для вас душевную атмосферу и обеспечивает комфорт в обучении</h5>
			</div>
			{% for person in teamCards %}
				<div class="card card--{{person.type}}">
					{% if person.type == 'team-card' %}
						<img src="./assets/images/team/{{person.img}}.jpg" alt="{{person.name}}" class="card__img">
						<div class="card__content">
							<h3 class="card__name">{{person.name}}</h3>
							<h4 class="card__post">{{person.post}}</h4>
							<p class="card__description">{{person.about}}</p>
						</div>
					{% else %}
						<p class="card__text">{{person.text}}</p>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
</section>
